@use "sass:color";

:root {
    --el-border-radius-base: 0;
}

@for $i from 0 through 1000 {
    @if $i % 5==0 {
        .form-width-#{$i} {
            width: #{$i + px};

            .el-input {
                width: #{$i + px};
            }

            .el-input-number {
                width: #{$i + px};
            }

            &.el-date-editor {
                width: #{$i + px};
            }

            &.el-input-group {
                width: #{$i + px};
            }
        }
    }
}

